li {
    list-style: none;
}
.header {
    width: 960px;
    margin: 0 auto;
}    
.header-right {
    margin-right: 100px;
}
li a {
    margin-right: 50px;
    float: right;
    color: black;
}
.header-logo a {
    color:white;
    background-color: black;
    float: left;
    font-size: 16px;
    margin-left: 100px;
}
.main {
    height: 600px;
}
.main img {
    width: 100%;
}